[submodule "third-party/LuoLib"]
	path = third-party/LuoLib
	url = https://github.com/function2-llx/LuoLib.git
[submodule "third-party/RadFM"]
	path = third-party/RadFM
	url = git@github.com:chaoyi-wu/RadFM.git
[submodule "third-party/CXR-Report-Metric"]
	path = third-party/CXR-Report-Metric
	url = git@github.com:rajpurkarlab/CXR-Report-Metric.git
[submodule "third-party/CT-CLIP"]
	path = third-party/CT-CLIP
	url = git@github.com:ibrahimethemhamamci/CT-CLIP.git
[submodule "third-party/R2GenGPT"]
	path = third-party/R2GenGPT
	url = git@github.com:wang-zhanyu/R2GenGPT.git
[submodule "scripts/data/vg/MIMIC-CXR/detrex/detectron2"]
	path = scripts/data/vg/MIMIC-CXR/detrex/detectron2
	url = https://github.com/facebookresearch/detectron2.git
