[submodule "third-party/LuoLib"]
	path = third-party/LuoLib
	url = https://github.com/function2-llx/LuoLib.git
[submodule "third-party/RadFM"]
	path = third-party/RadFM
	url = git@github.com:chaoyi-wu/RadFM.git
[submodule "third-party/CXR-Report-Metric"]
	path = third-party/CXR-Report-Metric
	url = git@github.com:rajpurkarlab/CXR-Report-Metric.git
[submodule "third-party/CT-CLIP"]
	path = third-party/CT-CLIP
	url = git@github.com:ibrahimethemhamamci/CT-CLIP.git
